# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Math


| Date Science Tools
|:-
| Anaconda
| GitHub
| VS Code

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

**Objectives:**
- learn markdown headers
- learn markdown ordered lists
- learn markdown tables
- learn arithmatic in notebooks
- Revise data science tools

## Author

Timothy France